<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>订单日期：</label>
                            <input type="text" class="time-input" name="orderDate"/>
                        </li>
                        <li>
                            <label>订单车号：</label>
                            <input type="text" name="orderCarNumber"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" >
                <i class="fa fa-plus"></i> 添加
            </a>

            <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = "/orderManager";
    // alert(value);
    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/toAddOrder",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "车辆列表",
            showPageGo: true,
            sortName: "orderDate",
            order: "desc",
            pageList:[5,10,15,20],
            columns: [
                {
                    field: 'orderDate',
                    title: '过江日期',
                    sortable:true

                },
                {
                    field: 'orderCarNumber',
                    title: '过江车号',
                    sortable:true
                },
                {
                    field: 'consignorName',
                    title: '货主'
                },
                {
                    field: 'cargoName',
                    title: '货物'
                },
                {
                    field: 'freight',
                    title: '运费'
                },
                {
                    field: 'driverCost',
                    title: '司机费用'
                },
                {
                    field: 'quarantineCost',
                    title: '隔离费用'
                },
                {
                    field: 'chinaCost',
                    title: '中国费用'
                },
                {
                    field: 'koreaCost',
                    title: '朝鲜费用'
                },
                {
                    field: 'profit',
                    title: '利润'
                },
                {
                    field: 'orderType',
                    title: '结账状态',
                    width:80,
                    align: 'center',
                    cellStyle:function(value,row,index){
                        if (value == "否") {
                            return {
                                css:{
                                    "background-color":"#ed5565",
                                    "color":"#fff"
                                }
                            }
                        } else {
                            return {css:{"background-color":"#fff"}}
                        }
                    },
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>