<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车辆')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-orderCarInformation-orderCarInformationUpdate">
        <div class="form-group">
            <div class="col-sm-9">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">过江车号：</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="orderCarId" name="orderCarId">
                                <option
                                        th:each="car:${carResponses}"
                                        th:value="${car.id}"
                                        th:selected="${car.id} == ${orderCarInformationResponse.orderCarId}"
                                        th:text="${car.vehicleNumber}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">过江司机：</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="orderDriverId" id="orderDriverId">
                                <option
                                        th:each="driver:${driverResponses}"
                                        th:selected="${driver.id} == ${orderCarInformationResponse.orderDriverId}"
                                        th:value="${driver.id}"
                                        th:text="${driver.driverName} + ' ' + ${driver.driverIdCard}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">货品：</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="orderCargoId" id="orderCargoId">
                                <!--                                <option th:text="请选择货物"></option>-->
                                <option
                                        th:each="cargo:${cargoResponses}"
                                        th:selected="${cargo.id} == ${orderCarInformationResponse.orderCargoId}"
                                        th:value="${cargo.id}"
                                        th:text="${cargo.cargoName}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">吨位：</label>
                        <div class="col-sm-9">
                            <input type="text" name="orderTonnage" id="orderTonnage" class="form-control" th:value="${orderCarInformationResponse.orderTonnage}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">过江日期：</label>
                        <div class="col-sm-9">
                            <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                <input type="text" class="time-input" id="orderDate" name="orderDate" th:value="${orderCarInformationResponse.orderDate}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <input id="id" name="id" th:value="${orderCarInformationResponse.id}" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = "/orderCarInformationManager"

    $("#form-orderCarInformation-orderCarInformationUpdate").validate({
        onkeyup: false,
        rules:{
            orderCarId:{
                required: true,
            },
            orderDriverId:{
                required: true,
            },
            orderCargoId:{
                required: true,
            },
            orderTonnage:{
                required: true,
                digits:true,
            },
            orderDate:{
                required: true,
                date:true,
            },
        },
        messages: {
            orderCarId: {
                required: "请选择车辆",
            },
            orderDriverId: {
                required: "请选择司机",
            },
            orderCargoId: {
                required: "请选择货品",
            },
            orderTonnage: {
                required: "请输入吨位",
            },
            orderDate: {
                required: "请选择日期",
            },
        },
        focusCleanup: false
    });
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/updateOrderCarInformation", $('#form-orderCarInformation-orderCarInformationUpdate').serialize());
        } else  {
            console.log("false");
        }
    }
</script>
</body>
</html>