<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车辆')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-driver-driverUpdate">
        <div class="form-group">
            <div class="col-sm-9">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">司机姓名：</label>
                        <div class="col-sm-9">
                            <input name="driverName" id="driverName" class="form-control" type="text" th:width="40" th:value="${driverResponse.driverName}" style="text-transform:uppercase;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">司机身份证号：</label>
                        <div class="col-sm-9">
                            <input name="driverIdCard" id="driverIdCard" class="form-control" type="text" th:width="40" th:value="${driverResponse.driverIdCard}" style="text-transform:uppercase;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">司机电话：</label>
                        <div class="col-sm-9">
                            <input name="driverPhoneNumber" id="driverPhoneNumber" class="form-control" type="text" th:width="40" th:value="${driverResponse.driverPhoneNumber}" style="text-transform:uppercase;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">司机住址：</label>
                        <div class="col-sm-9">
                            <input name="driverAddress" id="driverAddress" class="form-control" type="text" th:width="40" th:value="${driverResponse.driverAddress}" style="text-transform:uppercase;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <input id="id" name="id" th:value="${driverResponse.id}" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = "/driverManager"

    $("#form-driver-driverUpdate").validate({
        onkeyup: false,
        rules:{
            driverName:{
                required: true,
                isName:true,
            },
            driverIdCard:{
                required: true,
                isIdentity:true,
                remote: {
                    url: prefix + "/checkDriverIDCard",
                    type: "post",
                    dataType: "json",
                    data: {
                        "driverIdCard": function () {
                            return $.common.trim($("#driverIdCard").val());
                        }
                    },
                }
            },
            driverPhoneNumber:{
                required: true,
                isPhone:true,
            },
            driverAddress:{
                required: true,
            },

        },
        messages: {
            driverName: {
                required: "名字不能为空",
            },
            driverIdCard: {
                required: "身份证号不能为空",
                remote:"司机已存在,请勿重复添加",
            },
            driverPhoneNumber: {
                required: "电话号不能为空",
            },
            driverAddress: {
                required: "住址不能为空",
            },
        },
        focusCleanup: false
    });

    function submitHandler() {
        if ($.validate.form()) {
            console.log("true");
            var data = $('#form-driver-driverUpdate').serializeArray();
            $.operate.save(prefix + "/updateDriver", data);
        } else  {
            console.log("false");
        }
    }
</script>
</body>
</html>