<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车辆')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-car-carAdd">
        <div class="form-group">
            <div class="col-sm-9">
            <label class="col-sm-3 control-label">车辆号码：</label>
                <select name="licensePlateAreaCode" id="licensePlateAreaCode" th:width="50px" th:height="40px" class="select-table2">
                    <option th:selected="${license.licensePlateAreaCode == 1}"
                            th:each="license:${licenseResponses}"
                            th:value="${license.licensePlateAreaCode}"
                            th:text="${license.licensePlateAreaName}">
                    </option>
                </select>
                <input name="carNumber" class="input-s" type="text" th:width="50">
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = "/carManager"
    $("#form-car-carAdd").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addCar", $('#form-car-carAdd').serialize());
        }
    }
</script>
</body>
</html>