<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车辆')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-car-carUpdate">
        <div class="form-group">
            <div class="col-sm-9">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">车号：</label>
                        <div class="col-sm-9">
                            <select name="carLicensePlateAreaCode" id="carLicensePlateAreaCode" class="form-control">
                                <option th:selected="${license.licensePlateAreaCode} == ${carResponse.carLicensePlateAreaCode}"
                                        th:each="license:${licenseResponses}"
                                        th:value="${license.licensePlateAreaCode}"
                                        th:text="${license.licensePlateAreaName}">
                                </option>
                            </select>
                            <input name="carNumber" id="carNumber" class="form-control" type="text" th:width="40" th:value="${carResponse.carNumber}" style="text-transform:uppercase;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">司机：</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="carDriverId" id="carDriverId">
                                <option
                                        th:each="driver:${driverResponses}"
                                        th:selected="${driver.driverId} == ${carResponse.carDriverId}"
                                        th:value="${driver.driverId}"
                                        th:text="${driver.driverName}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <input id="id" name="id" th:value="${carResponse.id}" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = "/carManager"

    $("#form-car-carUpdate").validate({
        onkeyup: false,
        rules:{
            carNumber:{
                required: true,
                maxlength:6,
                minlength:6,
                isCarNumber: true,
                remote: {
                    url: prefix + "/checkCarNumber",
                    type: "post",
                    dataType: "json",
                    data: {
                        "carNumber": function () {
                            return $.common.trim($("#carNumber").val().toUpperCase());
                        }
                    },
                }
            },
        },
        messages: {
            carNumber: {
                required: "请输入车号",
                remote:"车辆存在,请勿重复添加",
            },
        },
        focusCleanup: false
    });

    function submitHandler() {
        if ($.validate.form()) {
            console.log("true");
            $.operate.save(prefix + "/updateCar", $('#form-car-carUpdate').serialize());
        } else  {
            console.log("false");
        }
    }
</script>
</body>
</html>