<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    <resultMap id="BaseResultMap" type="DriverListEntity"></resultMap>-->
<!--    使用  resultType ：对应Response 主要针对于从数据库中提取相应的数据出来-->
<!--    使用parameterType ：对应Request  主要针对于   将信息存入到数据库中  如：  insert 增加数据到数据库zhong   Update等-->
<!--    Response 返回的数据-->
<!--    Request 传入的数据-->
<mapper namespace="com.car.manager.dao.CarListMapper">

    <select id="selectAllCar" resultType="com.car.manager.entity.Ex.CarListEx" parameterType="com.car.manager.entity.Ex.CarListEx">
        select concat(licensePlateAreaName,carNumber) as carNumber,
        driverName,
        driverAddress,
        driverIDCard,
        driverPhoneNumber
        from carList
        left join driverList on carList.carDriverId=driverList.driverId
        left join licenseplatearealist on carList.carLicensePlateAreaCode=licenseplatearealist.licensePlateAreaCode
        <where>
            <if test="carNumber != null and carNumber != ''">
                carNumber like concat('%', #{carNumber}, '%')
            </if>
        </where>
    </select>
    <insert id="carAdd" parameterType="com.car.manager.entity.CarList">
        insert into carList (carNumber,carLicensePlateAreaCode) values (#{carNumber},#{carLicensePlateAreaCode})
    </insert>
    <select id="selectCarByCarNumber" parameterType="com.car.manager.entity.CarList" resultType="com.car.manager.entity.CarList">
        select *
        from carlist
        where
        carNumber = #{carNumber}
    </select>

</mapper>