<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.manager.dao.DriverListMapper">

    <select id="selectAllDriver" resultType="com.car.manager.entity.DriverList" parameterType="com.car.manager.entity.DriverList">
        select
        driver_name as driverName,
        driver_address as driverAddress,
        driver_ID_card as driverIDCard,
        driver_phone_number as driverPhoneNumber
        from driver_list

        <where>
            <if test="driverIDCard != null and driverIDCard != ''">
                and driver_ID_card like concat('%', #{driverIDCard}, '%')
            </if>
            <if test="driverPhoneNumber != null and driverPhoneNumber != ''">
                and driver_phone_number like concat('%', #{driverPhoneNumber}, '%')
            </if>
            <if test="driverName != null and driverName != ''">
                and driver_name like concat('%', #{driverName}, '%')
            </if>
        </where>
    </select>
</mapper>