<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.manager.dao.DriverListMapper">

    <select id="selectAllDriver" resultType="com.car.manager.entity.DriverList" parameterType="com.car.manager.entity.DriverList">
        select
        id as id,
        driver_name as driverName,
        driver_address as driverAddress,
        driver_id_card as driverIdCard,
        driver_phone_number as driverPhoneNumber,
        role
        from driver_list

        <where>
            <if test="driverIdCard != null and driverIdCard != ''">
                and driver_id_card like concat('%', #{driverIdCard}, '%')
            </if>
            <if test="driverPhoneNumber != null and driverPhoneNumber != ''">
                and driver_phone_number like concat('%', #{driverPhoneNumber}, '%')
            </if>
            <if test="driverName != null and driverName != ''">
                and driver_name like concat('%', #{driverName}, '%')
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
        </where>
    </select>

    <select id="selectDriverByIDCard" parameterType="com.car.manager.entity.DriverList" resultType="com.car.manager.entity.DriverList">
        select
        id as id
        from driver_list
        <where>
            driver_id_card=#{driverIdCard}
        </where>

    </select>


</mapper>
