<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.manager.dao.OrderListMapper">

    <select id="selectAllOrder" resultType="com.car.manager.entity.Ex.OrderListEx" parameterType="com.car.manager.entity.OrderList">
        select
            ord.id as id,
            ord.consignor_id as consignorId,
            cargo.id as cargoId,
            ord.order_date as orderDate,
            ord.driver_cost as driverCost,
            ord.china_cost as chinaCost,
            ord.korea_cost as koreaCost,
            ord.freight,
            ord.order_car_id as orderCarId,
            ord.profit,
            ord.quarantine_cost as quarantineCost,
            con.consignor_name as consignorName,
            cargo.cargo_name as cargoName,
            car.vehicle_number as orderCarNumber,
            ord.order_type as orderType
        from order_list ord
                 left join car_list car on ord.order_car_id=car.id
                 left join consignor_list con on ord.consignor_id=con.id
                 left join cargo_list cargo on ord.cargo_id=cargo.id
        <where>
            1=1
            <if test="orderDate != null and orderDate != ''">
                and order_date like concat('%', #{orderDate}, '%')
            </if>
            <if test="orderCarNumber != null and orderCarNumber != ''">
                and order_car_number like concat('%', #{orderCarNumber}, '%')
            </if>

        </where>
        order by ord.order_date asc

    </select>

</mapper>