<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.manager.dao.PersonalStatementMapper">
    <select id="selectAllPersonalStatement" resultType="com.car.manager.entity.PersonalStatement" parameterType="com.car.manager.entity.PersonalStatement">
        select
            id as id,
            statement_date as statementDate,
            freight,
            driver_cost as driverCost,
            china_cost as chinaCost,
            korea_cost as koreaCost,
            quarantine_cost as quarantineCost,
            insurance,
            car_repair as carRepair,
            oil_cost as oilCost,
            text_cost as textCost,
            other_cost as otherCost,
            profit,
            order_car_number as orderCarNumber,
            statement_type as statementType
        from personal_statement
        <trim suffix="" suffixOverrides=",">
        <where>
            <if test="statementDate != null and statementDate != ''">
                and statement_date like concat('%', #{statementDate}, '%'),
            </if>
            <if test="orderCarId != null and orderCarId != ''">
                and order_car_id = #{orderCarId},
            </if>
        </where>
        </trim>

        order by statement_date asc
    </select>
    <select id="selectAllPersonalStatementCar" resultType="com.car.manager.entity.PersonalStatement" parameterType="com.car.manager.entity.PersonalStatement">
    SELECT
        order_car_id as orderCarId,
        car.vehicle_number as orderCarNumber
    FROM
        personal_statement
	LEFT JOIN car_list car ON car.id=personal_statement.order_car_id
    GROUP BY
     order_car_id
    </select>

</mapper>